<!-- menue div -->
<div class="row" style='background: whitesmoke; width:100%; margin: 0;margin-top: 20px;box-shadow:2px 2px black;'>
<div class="col-md-auto"style='text-align: center;'>
<div class="col-md-auto" style='text-align: center;'>

    <button style='margin-left:20px;background-color: black;color: white;border-radius: 8px 8px 8px 8px;height: 40px; width: 150px;' class="adminB" ng-click="ac.clickKTwo()" type="button" name="kThroughTwo"> Display K - 2</button>
    <button style='margin-left:20px;background-color: black;color: white;border-radius: 8px 8px 8px 8px;height: 40px; width: 150px;' class="adminB" ng-click="ac.clickThreeFour()" type="button" name="threeAndFour">Display 3 - 4</button>
    <a href="#!adminSpins" style='text-decoration:none; margin-left:20px; background-color:black; color:white; border-radius: 8px 8px 8px 8px; height:40px!important; width: 170px;' class="btn adminB" role="button">Random Winner Page</a>

    <div class="dropdown">
      <button style='margin-left:20px;background-color: black;color: white; height: 40px; width: 125px; text-align: center; border-radius: 8px 8px 8px 8px' class="dropbtn">Admin Controls</button>
      <div class="dropdown-content">
        <button style='border-radius:100%; padding: 0; border: none;background: none; margin-top: 10px;text-decoration:underline;'ng-click="ac.makePDF()">Make Slips</button>
        <a style='margin-top:12px;'href="#!permissions">Permissions</a>
        <a href="#!upload">Upload CSV</a>
        <span ng-if="ac.both">
        <a href="#!admins">Admin Page</a>
        <a href="#!teachers">Teacher Page</a>
      </span>
      </div>
    </div>


  </div>
</div>
<!-- end menue div -->
</div>


<!-- content div -->

  <br />
  <div class="row" style='background: whitesmoke; width:75%; height: 40em; margin: 0 auto; border-radius: 4px 4px 4px 4px;box-shadow:2px 2px black;'>
    <div class="col-md-auto" style='text-align: center;'>
      <h2 style="color: #3E3838;"> Welcome Back {{ac.username}}</h2>
      <h2 style="color: #3E3838;">Year To Date Slip Count Is: {{ac.allSlips}}</h2>

</div>
</div>









<!-- end of main div -->
