


     <span ng-if="ac.both">
       <a href="#!admins">Admin Page</a>
       <a href="#!teachers">Teacher Page</a>
     </span>
<a href="#!permissions">Permissions</a>

<a href="#!upload">Upload New Class Info</a>



<!-- randome winner. one button based on previously selected grade group -->
<button class="btn-default btn" ng-click="ac.clickKTwo()" type="button" name="kThroughTwo">K - 2</button>
<button class"btn-default btn" ng-click="ac.groupRandomWinnerKTwo()" type="button" name="winnerButton">Select A Random Winner</button>
<!-- <div ng-repeat="thing in ac.kThroughTwo track by $index">{{thing.identifier}} - {{thing.name}} </div> -->

<div ng-repeat="thing in ac.getRanKTwo">{{thing.grade}} - {{thing.name}}</div>


<button class="btn-default btn" ng-click="ac.clickThreeFour()" type="button" name="threeAndFour">3 -4</button>
<button class"btn-default btn" ng-click="ac.groupRandomWinnerThreeFour()" type="button" name="winnerButton">Select A Random Winner</button>
<!-- <div ng-repeat="thing in ac.threeAndFour track by $index">{{thing.identifier}} - {{thing.name}}</div> -->

<div ng-repeat="thing in ac.getRanThreeFour track by $index">{{thing.grade}} - {{thing.name}}</div>




<!-- end of main div -->


<!-- <button style ='text-align: center;'class = 'btn btn-success' ng-click="ac.makePDF()">Make Slips</button> -->

 <!-- </div> -->


