<div class="admin-bar">
  <!-- <div style= 'width: 150px; text-align: center;height: 40px; background: black; color: white; border-radius: 8px 8px 8px 8px; padding-top:10px; margin-left:20px;'> -->
  <div style='text-align:center;'class="admin-buttons">
    <a href="#!admins" style="text-decoration:none; margin-left:20px; background-color:black; color:white; border-radius: 8px 8px 8px 8px; height:35px!important; width: 170px;" class="btn adminB" role="button">Home</a>
    <!-- </div> -->
    <a href="#!adminSpins" style='text-decoration:none; margin-left:20px; background-color:black; color:white; border-radius: 8px 8px 8px 8px; height:35px!important; width: 170px;' class="btn adminB" role="button">Random Winner Page</a>

    <div class="dropdown">
      <button style='margin-left:20px;background-color: black;color: white; height: 35px!important; width: 170px; text-align: center; border-radius: 8px 8px 8px 8px' class="dropbtn btn adminB">Admin Controls</button>
      <div class="dropdown-content">
        <button style='border-radius:100%; padding: 0; border: none;background: none; margin-top: 10px;text-decoration:underline;'ng-click="ac.makePDF()">Make Slips</button>
        <a style='margin-top:12px;'href="#!permissions">Permissions</a>
        <a href="#!upload">Upload CSV</a>
        <span ng-if="ac.both">
        <a href="#!admins">Admin Page</a>
        <a href="#!teachers">Teacher Page</a>
      </span>
      </div>
    </div>
  </div>
</div>
<div style='text-align:center; margin-top:20px;' class="">
  <button id="wheelSpinn" style='margin-left:20px;background-color: black;color: white;border-radius: 8px 8px 8px 8px;width:140px!important;height: 40px; width: 125px;' class="btn-default btn" ng-click="ac.groupRandomWinnerKTwo()" type="button" name="winnerButton">Spin To Win K - 2!</button>
  <button id="wheelSpinn" style='margin-left:20px;background-color: black;color: white;border-radius: 8px 8px 8px 8px; height: 40px; width: 125px;'class="btn-default btn" ng-click="ac.groupRandomWinnerThreeFour()" type="button" name="winnerButton">Spin To Win 3 - 4!</button>


  <h2 style="color: white;"> Admin Spin To Win Page</h2>
  <h3 style="color: white;">Year To Date Slip Count: {{ac.allSlips}}</h3>

  <!-- buttons -->

  <br />


  <!-- results -->
  <br />
  <h4 style="color: white;">Winners:</h4>
  <h4>K - 2</h4>
  <div ng-repeat="thing in ac.getRanKTwo track by $index">{{thing.identifier}} {{thing.name}} {{thing.grade}}</div>
  <h4>3 - 4</h4>

  <div ng-repeat="thing in ac.getRanThreeFour track by $index">{{thing.identifier}} {{thing.name}} {{thing.grade}}</div>
</div>
</div>
</div>


<div class="element">

</div>
