
<!-- menue div -->
<div class="row" style='background: whitesmoke; width:100%; margin: 0;margin-top: 20px;box-shadow:2px 2px black;'>
<div class="col-md-auto"style='text-align: center;'>
<button style='margin-left:10px;ext-align: center; background-color: black;color: white; border-radius: 8px 8px 8px 8px; height: 40px; width: 125px;' class='btn-' ng-click="ac.makePDF()">Make Slips</button>
<div class="dropdown">
  <button style='margin-left:20px;background-color: black;color: white; height: 40px; width: 125px; text-align: center; border-radius: 8px 8px 8px 8px'class="dropbtn">Admin Controls</button>
  <div class="dropdown-content">
    <a href="#!permissions">Permissions</a>
    <a href="#!upload">Upload CSV</a>
    <span ng-if="ac.both">
      <a href="#!admins">Admin Page</a>
      <a href="#!teachers">Teacher Page</a>
    </span>
  </div>
</div>
  <button style='margin-left:20px;background-color: black;color: white;border-radius: 8px 8px 8px 8px;height: 40px; width: 50px;' class="btn-default btn" ng-click="ac.clickKTwo()" type="button" name="kThroughTwo">K - 2</button>
  <button style='margin-left:20px;background-color: black;color: white;border-radius: 8px 8px 8px 8px;height: 40px; width: 125px;' class="btn-default btn" ng-click="ac.groupRandomWinnerKTwo()" type="button" name="winnerButton">Random Winner</button>


  <button style='margin-left:20px;background-color: black;color: white;border-radius: 8px 8px 8px 8px;height: 40px; width: 50px;'class="btn-default btn" ng-click="ac.clickThreeFour()" type="button" name="threeAndFour">3 - 4</button>
  <button style='margin-left:20px;background-color: black;color: white;border-radius: 8px 8px 8px 8px; height: 40px; width: 125px;'class="btn-default btn" ng-click="ac.groupRandomWinnerThreeFour()" type="button" name="winnerButton">Random Winner</button>



</div>
</div>
<!-- end menue div -->
</div>


<!-- content div -->
<div class="row" style=' width: auto;display: table; margin: 0 auto;border-radius: 8px 8px 8px 8px;'>
<div class="col-md-auto"style='text-align: center;'>
  <h2 style="color: white;"> Admin Page</h2>
  <h3 style="color: white;">Year To Date Slip Count: {{ac.allSlips}}</h3>

  <!-- buttons -->

  <br />


  <!-- results -->
  <br />
  <h4 style="color: white;">Winners:</h4>
  <div ng-repeat="thing in ac.getRanKTwo track by $index">{{thing.identifier}} {{thing.name}} - {{thing.grade}}</div>
  <div ng-repeat="thing in ac.getRanThreeFour track by $index">{{thing.identifier}} - {{thing.name}} - {{thing.grade}}</div>
  <br />
  <h4 style="color: white;">Students:</h4>
  <div ng-repeat="thing in ac.kThroughTwo track by $index">{{thing.identifier}} {{thing.name}} </div>
  <div ng-repeat="thing in ac.threeAndFour track by $index">{{thing.identifier}} - {{thing.name}}</div>

</div>
</div>



  <!-- end of main div -->
