<div class="align">
<img style = 'box-shadow: 3px 3px 3px black; margin-bottom: 30px;width: 300px; height: 300px; background-color: grey; border-radius: 100px 100px 100px 100px; box-shadow: 3px 1px black;' src="http://cdn1.sportngin.com/attachments/call_to_action/6516/5224/WH_Logo_RGB._full_size_large.jpg" alt=""></img>
   <div class="grid">
     <img class="roll" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/349115/logo.png">

     <form action="https://httpbin.org/post" method="POST" class="form login">

       <div class="form__field">
         <label for="login__username"><svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#user"></use></svg><span class="hidden">Username</span></label>
         <input id="login__username" type="text" name="username" class="form__input" placeholder="Username" required>
       </div>
       <div class="form__field">
         <label for="login__password"><svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lock"></use></svg><span class="hidden">Password</span></label>
         <input id="login__password" type="password" name="password" class="form__input" placeholder="Password" required>
       </div>

       <div class="form__field">
         <input type="submit" value="Sign In">
       </div>

     </form>

     <p class="text--center">Not a member? <a href="#">Sign up now</a> <svg class="icon"><use></use></svg></p>
   </div>
 </div>
