<div class="admin-bar">
  <!-- <div style= 'width: 150px; text-align: center;height: 40px; background: black; color: white; border-radius: 8px 8px 8px 8px; padding-top:10px; margin-left:20px;'> -->
  <div class="admin-buttons">
    <a href="#!admins" style="text-decoration:none; margin-left:20px; background-color:black; color:white; border-radius: 8px 8px 8px 8px; height:35px!important; width: 170px;" class="btn adminB" role="button">Home</a>
    <!-- </div> -->
    <a href="#!adminSpins" style='text-decoration:none; margin-left:20px; background-color:black; color:white; border-radius: 8px 8px 8px 8px; height:35px!important; width: 170px;' class="btn adminB" role="button">Random Winner Page</a>

    <div class="dropdown">
      <button style='margin-left:20px;background-color: black;color: white; height: 35px!important; width: 170px; text-align: center; border-radius: 8px 8px 8px 8px' class="dropbtn btn adminB">Admin Controls</button>
      <div class="dropdown-content">
        <button style='border-radius:100%; padding: 0; border: none;background: none; margin-top: 10px;text-decoration:underline;'ng-click="ac.makePDF()">Make Slips</button>
        <a style='margin-top:12px;'href="#!permissions">Permissions</a>
        <a href="#!upload">Upload CSV</a>
        <span ng-if="ac.both">
        <a href="#!admins">Admin Page</a>
        <a href="#!teachers">Teacher Page</a>
      </span>
      </div>
    </div>
  </div>
</div>

<div class="row" style='background: whitesmoke; width:100%; margin: 0;margin-top: 20px;box-shadow:2px 2px black;'>
<div class="col-md-auto"style='text-align: center;'>
  <h1>Add a User</h1>
  <p>This will automatically a new student users. To make a new teacher or new
  admin, add them here and then search for their email below in the Permissions
  section.</p>
  <b>Full Name:</b>
  <input type="text" name="" value="" ng-model="ac.newName">
  <b>Email:</b>
  <input type="text" name="" value="" ng-model="ac.newEmail">
  <b>Homeroom:</b>
  <input type="text" name="" value="" ng-model="ac.newHomeroom">
  <button type="button" name="button" ng-click="ac.addStudent()">Add Student</button>
<hr>
<h1>Permissions</h1>

<br>
<label><h1>Search:</h1></label>
<input placeholder="Email" ng-model="ac.searchedEmail">
<button ng-click="ac.searchForEmail()" style="background-color:#2e64b0;" class="btn btn-success">Search</button>
<hr>
<div ng-repeat="user in ac.emailResults">
  {{user.email}}
  <span ng-if="!user.admin">
    <button ng-click="ac.makeUserAdmin(user)" ng-disable="ac.madeAdmin">Make Admin</button>
  </span>
  <span ng-if="!user.teacher">
    <button ng-click="ac.makeUserTeacher(user)" ng-disable="ac.madeTeacher">Make Teacher</button>
  </span>
  <hr>
</div>
</div>
</div>
