<h1 style= 'font-family:iceland;text-align: center; color: white;'class="shimmer">Welcome, {{sc.username}}!</h1>


<div class="form-group" style= ' text-align: center;'>
  <label style = 'font-family:iceland;color: white;' for="usr">What is your slip number?</label>
  <input style="border-radius: 5px 5px 5px 5px;"type="text" class="center-block" id="usr" ng-model="sc.slipKey" placeholder="Enter your key here.....">
  <label class = 'pulse-button' style = 'font-size:100px;color: white;'>S</label>&nbsp;<input type="checkbox" name="" ng-model="sc.s" value="">
  <label class = 'pulse-button' style = 'font-size:100px;color: white;'>&nbsp;O</label>&nbsp;<input type="checkbox" name="" ng-model="sc.o" value="">
  <label class = 'pulse-button' style = 'font-size:100px;color: white;'>&nbsp;A</label>&nbsp;<input type="checkbox" name="" ng-model="sc.a" value="">
  <label class = 'pulse-button' style = 'font-size:100px;color: white;'>&nbsp;R</label>&nbsp;<input type="checkbox" name="" ng-model="sc.r" value="">
  <br>
<div id="modal-container">
  <div class="modal-background">
    <div class="modal">
      <h2 style='color: green; font-size: 40px;'>Great Job!! </h2><br>
      <p style= 'font-family:iceland;'> Nice job getting a SOAR slip! Keep up the good work! </p>
      <svg class="modal-svg" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="none">
								<rect x="0" y="0" fill="none" width="226" height="162" rx="3" ry="3"></rect>
							</svg>
    </div>
  </div>
</div>
<!-- <div style ='background-color: none;' class="content"> -->
  <!-- <div class="buttons"> -->
    <div id="one" class="studentB"style = 'text-align: center; width: 150px; height: 150px; margin-top: 2px; background-color: #2e64b0; color: white;padding-top: 45px; box-shadow:2px 1px 3px; border-radius: 8px 8px 8px 8px; font-size:40px; text-shadow: 3px 4px 8px black; display: inline-block;' type="button" ng-click="sc.postStudentSlip()">GO!!!</div>
  <!-- </div> -->
<!-- </div> -->
</div>


<div style ='color: white; text-align: center; font-size: 33px;'>You have {{sc.studentSlips}} slip<span ng-if="sc.studentSlips>1 || sc.studentSlips === 0">s</span>!</div>




<!-- <div style='margin-top:150px; margin-left:19%; display:inline-block;'id="container">

  <p style= 'font-size: 7em;position: relative;top: 50%;transform: translateY(-50%); transform: rotate(5deg); margin-left:-20%; margin-top:-200%;'><a>
    Safe
  </a></p>
  <p style= 'font-size: 7em;position: relative;top: 50%;transform: translateY(-50%); transform: rotate(-10deg);margin-top:-90%;margin-left:120%;'><a>
    Acheive
  </a></p>
  <p style= 'font-size: 7em;position: relative;top: 50%;transform: translateY(-50%); transform: rotate(30deg);margin-left:-55%;margin-top:-50%;'><a>
    Own It
  </a></p>



  <p style= 'font-size: 7em;position: relative;top: 50%;transform: translatex(-50%); padding-left: 250px; transform: rotate(-30deg); float: right;'><a>
    Respect
  </a></p>

  <p  style= 'font-size: 7em;position: relative;top: 50%;transform: translatex(-50%); padding-left: 850px; transform: rotate(-10deg); float: right;'><a>
    S.O.A.R.
  </a></p>

</div> -->
