<h1 class="shimmer">Welcome To The Student Page</h1>

<!-- <div>All Student Slips: {{sc.studentSlips}}</div> -->
<!-- <div ng-repeat= "slips in vm.studentSlips"class=""></div> -->




<div class="form-group">
  <label style = 'color: white;' for="usr">Slip Key</label>
  <input type="text" class="form-control" id="usr" ng-model="sc.slipKey" placeholder="Enter your key here.....">
  <label style = 'color: white;'>S</label>
  <input type="checkbox" name="" ng-model="sc.s" value="">
  <label style = 'color: white;'>O</label>
  <input type="checkbox" name="" ng-model="sc.o" value="">
  <label style = 'color: white;'>A</label>
  <input type="checkbox" name="" ng-model="sc.a" value="">
  <label style = 'color: white;'>R</label>
  <input type="checkbox" name="" ng-model="sc.r" value="">
  <br>
<!--  -->
<div id="modal-container">
  <div class="modal-background">
    <div class="modal">
      <h2>Yo Student </h2>
      <p>ur ticky no worky</p>
      <svg class="modal-svg" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="none">
								<rect x="0" y="0" fill="none" width="226" height="162" rx="3" ry="3"></rect>
							</svg>
    </div>
  </div>
</div>
<div style ='background-color: none;' class="content">
  <div class="buttons">
    <div id="one" class="button"style = 'margin-top: 20px;' type="button" ng-click="sc.postStudentSlip()">Submit Slip</div>
  </div>
</div>
  <!--  -->
  <!-- <button style = 'margin-top: 20px;' type="button" ng-click="sc.postStudentSlip()" class="btn btn-info btn-lg">Large button</button> -->
</div>


<div style ='color: white; text-shadow: 2px 2px 2px black;'>All Student Slips: {{sc.studentSlips}}</div>
