
<div class="contain">
  <div class="row">


   <div class="col col-md-auto">
      <section class="demo">
        <dl class="list nigiri">
          <dt><button style='border: 0.5px solid black; width: 200px; font-size: 27px; margin-top: 3px; background: yellow; text-shadow:1px 1px 1px #000000;'class="toggle">Hide/Show</button>
Class List</dt>
          <dd><a href="#">sammy</a></dd>
          <dd><a href="#">tommy</a></dd>
          <dd><a href="#">jimmy</a></dd>
          <dd><a href="#">sally</a></dd>
          <dd><a href="#">Droo</a></dd>
          <dd><a href="#">Tiff</a></dd>
          <dd><a href="#">charlie</a></dd>
          <dd><a href="#">alayna</a></dd>
          <dd><a href="#">abby</a></dd>
          <dd><a href="#">yoda</a></dd>
        </dl>
</div>
<div class="col col-md-auto">
<!-- <button style='border: 0.5px solid black; width: 200px; font-size: 27px; margin-top: 3px; text-shadow:1px 1px 1px #000000;'class="toggle btn-success">Hide/Show</button> -->
</div>
<div class="col col-md-auto">
    <dl class="list sashimi">
      <dt>Prize Winners</dt>
      <dd><a href="#">fahza</a></dd>
      <dd><a href="#">ronald</a></dd>
    </dl>
</div>
</div>




<div class="row">
  <div class="col col-md-auto">
      <button style='border: 0.5px solid black; width: 100px; font-size: 15px; margin-top: 3px; text-shadow:1px 1px 1px #000000;'id="start" onClick="startIt()"class= 'spin'>SPIN</button>
</div>
</div>
</div>

</section>
