<a href="#!teacher">Back to Teacher page</a>

  <h2 style="color: white;"> Teacher Spin To Win Page</h2>

  <!-- buttons -->
  <button ng-click='$timeout(tc.getWinners(tc.homeroom), 500)' style='border: none; height:50px;width: 150px; font-size: 15px; margin-top: 20px; text-shadow:1px 1px 2px rgba(0, 0, 0, 0.2);;'class= 'btn btn-success'>SPIN TO WIN</button>

  <br />


  <!-- results -->
  <br />
  <h4 style="color: white;">Winners:</h4>
  <dd><a style= 'color: black'>{{tc.winner}}</a></dd>

</div>
</div>
