


<div class="changeMe" style= 'width: 200px; height: 30px; background: silver; border-radius:20px 20px 20px 20px; text-align: center;text-decoration: none;box-shadow:1px 1px 1px black;'>
<a class="hoverme" style='position: relative;top: 20%;transform: translateY(-50%); color: black; text-decoration: none;' href="#!teacher">Back to Teacher page</a>
</div>
  <h2 style="color: white;font-family:iceland;text-align:center;font-size:50px;"> Teacher Spin To Win Page</h2>

  <!-- buttons -->
  <div style='text-align: center;'class="">
  <button id = 'wheelSpin' ng-click='tc.getWinners()' style='border: none; height:50px;width: 150px; font-size: 15px; margin-top: 20px; text-shadow:1px 1px 2px rgba(0, 0, 0, 0.2);;'class= 'btn btn-success'>SPIN TO WIN</button>

  <br>
</div>

  <!-- results -->
  <br>
  <h4 style="font-size: 40px;font-family:iceland;color: white;">Winners:</h4>
  <dd><a style= 'font-size: 50px;font-family:iceland;color: white'>{{tc.winner}}</a></dd>
</div>


<div id='whiteHawk'style= 'z-index:5000;width:0;margin:0 auto;text-align:center;'class="triangle">
  </div>
<div style='' class='element'>
</div>
