

<section class="demo">

    <dl class="list nigiri">
        <dt>Class List</dt>
        <dd><a href="#">sammy</a></dd>
        <dd><a href="#">tommy</a></dd>
        <dd><a href="#">jimmy</a></dd>
        <dd><a href="#">sally</a></dd>
        <dd><a href="#">Droo</a></dd>
        <dd><a href="#">Tiff</a></dd>
        <dd><a href="#">charlie</a></dd>
        <dd><a href="#">alayna</a></dd>
        <dd><a href="#">abby</a></dd>
        <dd><a href="#">yoda</a></dd>
    </dl>

    <dl class="list sashimi">
        <dt>Prize Winners</dt>
        <dd><a href="#">fahza</a></dd>
        <dd><a href="#">ronald</a></dd>

    </dl>

    <button style='border: 0.5px solid black; width: 200px; font-size: 27px; margin-top: 3px; text-shadow:1px 1px 1px #000000;'class="toggle btn-success">Hide/Show</button>
    <button style='border: 0.5px solid black; width: 200px; font-size: 27px; margin-top: 3px; text-shadow:1px 1px 1px #000000;'class= 'btn btn-success'>SPIN TO WIN</button>

</section>
