@use cssnext;
.hoverme:hover{
  background-color:white;
}
/*student page*/

#container {
  width: 500px;

}
.changeMe:hover{
  background-color:white;
}
/*Neon*/


a {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

p:nth-child(1) a {
  color: #fff;
  font-family: Monoton;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

p:nth-child(1) a:hover {
  color: #FF1177;
  -webkit-animation: none;
  animation: none;
}

p:nth-child(2) a {
  font-size: 1.5em;
  color: #228DFF;
  font-family: Iceland;
}

p:nth-child(2) a:hover {
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
}

p:nth-child(3) a {
  color: #FFDD1B;
  font-family: Pacifico;
}

p:nth-child(3) a:hover {
  -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
  animation: neon3 1.5s ease-in-out infinite alternate;
}

p:nth-child(4) a {
  color: #B6FF00;
  font-family: PressStart;
  font-size: 0.8em;
}

p:nth-child(4) a:hover {
  -webkit-animation: neon4 1.5s ease-in-out infinite alternate;
  animation: neon4 1.5s ease-in-out infinite alternate;
}

p:nth-child(5) a {
  color: #FF9900;
  font-family: Audiowide;
}

p:nth-child(5) a:hover {
  -webkit-animation: neon5 1.5s ease-in-out infinite alternate;
  animation: neon5 1.5s ease-in-out infinite alternate;
}


p:nth-child(6) a:hover {
  -webkit-animation: neon6 1.5s ease-in-out infinite alternate;
  animation: neon6 1.5s ease-in-out infinite alternate;
}

p a:hover {
  color: #ffffff;
}
/*glow for webkit*/

@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

@-webkit-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}

@-webkit-keyframes neon4 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
  }
}

@-webkit-keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}

@-webkit-keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}
/*glow for mozilla*/
/*glow*/

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

/*student Page end*/
.jumbotron{
  background-image: url('tetris.jpg');
  background-size:auto;
  padding-top:0px!important;
  padding-bottom:0px!important;
  margin-top:-10px!important;
  margin-bottom:0px!important;
  box-shadow: 2px 2px 2px silver;
}
#whiteHawk {
  position: relative;
  -webkit-animation: myfirst 5s; /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
  animation: myfirst 5s;
  animation-direction: reverse;
  margin:0,auto;
}

.original,
.box {
  border-radius: 6px;
}

.box {
  height: 95px;
  line-height: 95px;
  text-align: center;
  width: 95px;
}
#whiteHawk {
  cursor: pointer;
  transform-style: preserve-3d;
}
#whiteHawk {
  animation: spin 5s linear;
}
@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.box-2 {
  transform: scaleY(1.15);
}

body{
background-image: url('redd.png');
background-size: cover;
}


/*Student page h1*/
input[type="checkbox"]{
  font-size: 30px;
  transform: rotate(0deg);
  transition: transform .3s;
  /*border-radius: 40px 40px 40px 40px;*/
  animation-direction: forwards;
  animation-duration: .5s forwards;
  width:40px!important;
  height:40px!important;
  zoom:2;
}
input[type="checkbox"] {
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  box-shadow: 0 0 0 0 rgba(02, 76, 61, 0.7);rgb(102, 0, 0);
  cursor: pointer;
  -webkit-animation: pulse 3s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 3s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 3s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 3s infinite cubic-bezier(0.66, 0, 0, 1);
}
input[type="checkbox"]:hover{
  transform: rotate(360deg);
  transition: transform .3s;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}

/*input[type="checkbox"]{
  width: 25px;
  height: 25px;
}*/
input[type='file']{
  color:blue;
  font-size:20px;
  /*Desired height*/
}

input[type="file" i] {
  width:100px;
  height:100px;
}

.studentHone{
  font-size: 20px!important;
  color: white;
  text-align: center;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes myfirst {
  0%   { left: -500px; top: 0px;}
  25%  { left: 0px; top: 0px;}
  50%  { left: 0px; top: 0px;}
  75%  { left: 0px; top: 0px;}
  100% { left: 500px; top: 0px;}
}

@keyframes myfirst {
  0%   { left: -500px; top: 0px;}
  25%  { left: 0px; top: 0px;}
  50%  { left: 0px; top: 0px;}
  75%  { left: 0px; top: 0px;}
  100% { left: 500px; top: 0px;}
}
label{
  font-size: 60px;
}

/*student page start css*/

/*student page end css*/

#navbar-primary .navbar-nav {
  width: 100%;
  text-align: center;
}
#navbar-primary .navbar-nav > li {
  display: inline-block;
  float: none;
}
#navbar-primary .navbar-nav > li > a {
  padding-left: 30px;
  padding-right: 30px;
}






/*teacher page*/


.list {
  -webkit-transform-style: preserve-3d;
  -moz-transform-stle: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  text-transform: uppercase;
  position: absolute;
  margin-left: -140px;
}

.list a {
  display: block;
  color: white;
  font-weight: bolder;
}

.list a:hover {
  text-indent: 20px;
}

.list dt, .list dd {
  text-indent: 10px;
  line-height: 55px;
  background: #E0FBAC;
  height: 55px;
  width: 270px;
  color: black;
}

.list dt {
  /* Since we're hiding elements behind here, we need it in 3d */
  -webkit-transform: translateZ(0.3px);
  -moz-transform: translateZ(0.3px);
  -ms-transform: translateZ(0.3px);
  -o-transform: translateZ(0.3px);
  transform: translateZ(0.3px);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 15px;
}

.list dd {
  color: black !important;
  border-top: 1px dashed rgba(255,255,255,0.3);
  line-height: 35px;
  font-size: 11px;
  height: 35px;

}

.sashimi dt, .sashimi dd, .sashimi a { border: 0.5px solid black;background: whitesmoke!important; }
.nigiri dt, .nigiri dd, .nigiri a { color: black;  border: 0.5px solid black;background: whitesmoke!important; }
.sashimi a:hover { background: #61c19e!important; }
.nigiri a:hover { background: #d31b46!important; }
.nigiri {

  -webkit-transform: perspective(1200px) rotateY(40deg) !important;
  -moz-transform: perspective(1200px) rotateY(40deg) !important;
  -ms-transform: perspective(1200px) rotateY(40deg) !important;
  -o-transform: perspective(1200px) rotateY(40deg) !important;
  transform: perspective(1200px) rotateY(40deg) !important;

  -webkit-transform-origin: 110% 25%;
  -moz-transform-origin: 110% 25%;
  -ms-transform-origin: 110% 25%;
  -o-transform-origin: 110% 25%;
  transform-origin: 110% 25%;

  left: 20%;
}
.sashimi {

  -webkit-transform: perspective(1200px) rotateY(-40deg) !important;
  -moz-transform: perspective(1200px) rotateY(-40deg) !important;
  -ms-transform: perspective(1200px) rotateY(-40deg) !important;
  -o-transform: perspective(1200px) rotateY(-40deg) !important;
  transform: perspective(1200px) rotateY(-40deg) !important;

  -webkit-transform-origin: -10% 25%;
  -moz-transform-origin: -10% 25%;
  -ms-transform-origin: -10% 25%;
  -o-transform-origin: -10% 25%;
  transform-origin: -10% 25%;

  left: 80%;
}
/*end teacher page*/



.content {
  min-height: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}
.content h1 {
  padding: 75px 0 30px 0;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
}
.content .buttons {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.content .buttons .button {
  display: inline-block;
  text-align: center;
  padding: 10px 15px;
  margin: 10px;
  background: red;
  font-size: 18px;
  background-color: #5cb85c!important;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.content .buttons .button:hover {
  color: #fff;
  background-color: #5cb85c!important;
  border-color: #4cae4c!important;
}




.row {
  /*border:solid 1px #CCCCCC;*/
}
.contain{
  text-align: center;
}
.col{
  /*border:solid 1px #CCCCCC;*/

}
.col-md-auto .col-5 .col-md-5 .col-6 .col-3 .col-md-6{
  /*margin:0 auto!important;*/
  /*border:solid 1px #CCCCCC;*/
  /*margin-right:-1px;*/
  /*padding:10px;*/
}

.navbarr {
  overflow: hidden;
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbarr a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

html,
body {
  width: 100%;
  height: 100%;
}

.c {
  width: 100%;
  height: 100%;
  background-color: #282828;
}

.spin {
  margin: 0 auto;
  width: 100%
}

.c {
  background-color: #282828;
}

#usr{
  text-align: center;
  width: 50%
}




/* Style The Dropdown Button */
.dropbtn {
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 3px 3px 3px 3px;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}


/*link colors and details*/
/* unvisited link */
a:link {
  color: #3e3838;
  text-decoration: underline;
}

/* visited link */
a:visited {
  color: #3e3838;
  text-decoration: underline;

}

/* mouse over link */
a:hover {
  color: #3e3838;
  text-decoration: underline;

}

/* selected link */
a:active {
  color: #3e3838;
  text-decoration: underline;
}

  @media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px) {
    /* Styles */
  }

  /* Smartphones (landscape) ----------- */
  @media only screen
  and (min-width : 321px) {
    /* Styles */
  }

  /* Smartphones (portrait) ----------- */
  @media only screen
  and (max-width : 320px) {
    /* Styles */
  }

  /* iPads (portrait and landscape) ----------- */
  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px) {
    /* Styles */
  }

  /* iPads (landscape) ----------- */
  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : landscape) {
    /* Styles */
  }

  /* iPads (portrait) ----------- */
  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : portrait) {
    /* Styles */
  }

  /* Desktops and laptops ----------- */
  @media only screen
  and (min-width : 1224px) {
    /* Styles */
  }

  /* Large screens ----------- */
  @media only screen
  and (min-width : 1824px) {
    /* Styles */
  }

  /* iPhone 4 ----------- */
  @media
  only screen and (-webkit-min-device-pixel-ratio : 1.5),
  only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */

  }
  .frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    background-color: black;
    /*background: #DE4738;*/
    color: #fff;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .frame{
    margin-top: 16%;
  }

  .pixel {
    float: left;
  }
  .pixel input {
    display: none;
  }
  .pixel label {
    box-sizing: border-box;
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #E24E3F;
    cursor: pointer;
  }
  .pixel label:hover {
    background: #EC5142;
    border-color: #E24E3F;
  }
  .pixel input:checked ~ label {
    background: #fff;
    border-color: #fff;
  }


  /*color wheel*/
  .element {
    position: relative;
    margin: 1em auto;
    width: 50em; height: 50em;
    border-radius: 50%;
    background:
    linear-gradient(36deg, #272b66 42.34%, transparent 42.34%) 0 0,
    linear-gradient(72deg, #2d559f 75.48%, transparent 75.48%) 0 0,
    linear-gradient(-36deg, #9ac147 42.34%, transparent 42.34%) 100% 0,
    linear-gradient(-72deg, #9bf442 75.48%, transparent 75.48%) 100% 0,
    linear-gradient(36deg, transparent 57.66%, #e1e23b 57.66%) 100% 100%,
    linear-gradient(72deg, transparent 24.52%, #f7941e 24.52%) 100% 100%,
    linear-gradient(-36deg, transparent 57.66%, #662a6c 57.66%) 0 100%,
    linear-gradient(-72deg, transparent 24.52%, #9a1d34 24.52%) 0 100%,
    #43a1cd linear-gradient(#9bf442, #ba3e2e) 50% 100%;
    background-repeat: no-repeat;
    background-size: 50% 50%;
  }
  .element-active{
    -webkit-animation: spinnerRotate  5s forwards 5s forwards;
    -moz-animation: spinnerRotate  5s forwards ;
    -ms-animation: spinnerRotate  5s ;
    -o-animation: spinnerRotate  5s forwards;
    animation: spinnerRotate 5s forwards;
  }

  @keyframes spinnerRotate {
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(1180deg);}
  }
  @-moz-keyframes spinnerRotate{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(1180deg);}
  }
  @-ms-keyframes spinnerRotate{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(1180deg);}
  }
  /*html { overflow: hidden }*/




  .dropbtn:hover{
    color:black;
    background-color: silver!important;
    box-shadow: 3px 3px 2px tomato!important;
  }
  .adminB:hover{
    color:black;
    background-color: silver!important;
    box-shadow: 3px 3px 2px tomato!important;
  }

  .studentB:hover{
    margin-top: -2px;
    margin-left: 0px;
    transform: scale(1.1,1.1)!important;
    -ms-transform: scale(1.1,1.1)!important;
    -webkit-transform: scale(1.1,1.1)!important;
  }

/*admin page buttons*/


/*admin bar*/

.admin-bar {
  background-color: whitesmoke;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  /*width: 1000vw;*/
  padding: 5px; /* make % */
  text-align: center;
}

.permissions{
  color: black;
  background-color: whitesmoke;
  margin-top: 10px; /* make % */
  /*margin-left: 5px;*/
  padding: 10px; /* make % */
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
#logoutpage{
  font-family: iceland;
}

.logout-link{
  font-family: iceland!important;
  float: right;
  margin-right: 1%;
  color: white;
}

.slip-count{
  font-size: 5em;
}
